.InputBase {
  min-width: 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #2a2a47;
  color: white;
  border: none;
}

.InputBase:focus {
  outline: none;
}

.TextArea {
  resize: vertical;
}
