.ContactPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
}

.ContactFormTopInputs {
  display: flex;
}

.ContactFormInput {
  flex-grow: 1;
}
