.Header {
  background-color: var(--var-bg-color);
  position: fixed;
  z-index: 1000;
  padding: 5px;
  border-radius: 0 0 10px 0;
}

.BackHomeButton {
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
  margin: 5px;

}

.HomeIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
