.WorkPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WorkPageTitle {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 80px;
}

.ProjectSection {
  gap: 120px;
  display: flex;
  flex-direction: column;
}
