.EducationSectionHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .EducationSectionHeader {
    flex-direction: column;
  }
}

.EducationSectionTitle {
  font-size: 22px;
  font-weight: bold;
}

.EducationSectionTitle::before {
  content: "-  ";
}

.EducationSectionDate {
  font-size: 16px;
}
