.WorkPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.WorkSection {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 6px;
}

@media (max-width: 920px) {
  .WorkSection {
    grid-template-columns: auto;
  }
}

.WorkDemo {
  justify-self: center;
}

.WorkDemoImageContainer {
  position: relative;
}

.WorkDemoImage {
  max-width: 100%;
  max-height: 100%;
}

.WorkDemoLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 6px;
  right: 6px;
}

.WorkDemoLink {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.WorkDemoLink:hover {
  background-color: red;
}

.WorkDescription {
  font-size: 22px;
}
