.WorkPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.WorkSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6px;
}

@media (max-width: 920px) {
  .WorkSection {
    grid-template-columns: 1fr;
  }
}

.WorkDemo {
  max-width: 500px;
  justify-self: center;
  font-size: 22px;
}

.WorkDescription {
  font-size: 22px;
}
