.WorkPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.WorkSection {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid;
}

.WorkDemo {
  grid-column: span 1;
  font-size: 22px;
}

.WorkDescription {
  grid-column: span 2;
  font-size: 22px;
}
