.EducationSections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.EducationSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.EducationSectionContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 920px) {
  .EducationSectionContent {
    grid-template-columns: auto;
  }
}

