.ResponsivePage {
  flex-grow: 1;
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 1280px) {
  .ResponsivePage {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 920px) {
  .ResponsivePage {
    margin: 20px 12px 0 12px;
  }
}
