.ResumePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DownloadResumeButton {
  align-self: self-end;
}

.ResumeSection {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ResumeContactButton {
  margin-top: 24px;
}

.ResumeTitle {
}
