.ResumeSection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ResumeContactButton {
  margin-top: 24px;
}

.ResumeSectionTitle {
  font-weight: bold;
  font-size: 48px;
  border: 1px solid;
  border-radius: 30px;
  align-self: flex-start;
  padding: 10px;
}
