.HomePage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

@media (max-width: 920px) {
  .HomeContainer {
    grid-template-columns: 1fr;
  }
}
