.HomePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .HomePage {
    grid-template-columns: 1fr;
  }
}

.About {
  background-color: red;
}

.Links {
  background-color: blue;
}
