.HomeLinks {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 768px) {
  .HomeLinks {
    align-self: flex-start;
    margin-top: 20px;
  }
}

.HomeLink {
  font-family: Caprasimo;
  font-size: 32px;
}

