@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.HomeLinks {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  cursor: pointer;
}

@media (max-width: 920px) {
  .HomeLinks {
    margin-top: 20px;
  }
}

.HomeLink {
  font-family: "Special Elite", cursive;
  font-size: 32px;
}
