@import 'tailwindcss';

@theme {
  --color-primary: #202023;
  --color-secondary: #2c2c4f;

  --font-elite: "Special Elite", cursive;
  --font-caprasimo: Caprasimo;
}

body {
  background-color: #202023;
  color: white;
  letter-spacing: 0.00938em;
  font-weight: 400;
}
